body {
    font-family: SanFranciscoTextRegular;
}

.title {
    font-family: SanFranciscoTextHeavy;
}

.number {
    font-size: 30px;
    font-family: SanFranciscoTextBold;
    height: 55px;
    margin-top: 15px;
    width: 100%;
}

.operation {
    font-size: 20px;
    font-family: SanFranciscoTextHeavy;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {
    .number {
        font-size: 18px;
    }
}
