<!DOCTYPE html>
<html lang="en-US" ng-app="Calculator">
    <head>
        <title>Calculator AngularJS</title>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="col-md-12 text-center">
            <h1 class="title">Calculator</h3>
        </div>

        <div class="content" ng-controller="CalculatorController">

            <div class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control number text-right" readonly="True" value="{{ displayValue }}">
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 text-right">
                    <span class="operation">{{ operation }}</span>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="changeSign" ng-click="onClickChangeSign()">+/-</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="percentage" ng-click="onClickPercentage()">%</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="memorySave" ng-click="onClickSaveMemory()">MS</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="memoryRead" ng-click="onClickReadMemory()">MR</button>
                </div>
            </div>

            <div class="col-md-10 col-xs-10">
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number7" ng-click="addNumber(7)">7</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number8" ng-click="addNumber(8)">8</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number9" ng-click="addNumber(9)">9</button>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-default number" id="sum" ng-click="onClickSum()">+</button>
                </div>
            </div>
            <div class="col-md-10 col-xs-10">
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number4" ng-click="addNumber(4)">4</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number5" ng-click="addNumber(5)">5</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number6" ng-click="addNumber(6)">6</button>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-default number" id="substract" ng-click="onClickSubtract()">-</button>
                </div>
            </div>
            <div class="col-md-10 col-xs-10">
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number1" ng-click="addNumber(1)">1</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number2" ng-click="addNumber(2)">2</button>
                </div>
                <div class="col-md-4 col-xs-4">
                    <button class="btn btn-primary number" id="number3" ng-click="addNumber(3)">3</button>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-default number" id="multiply" ng-click="onClickMultiply()">*</button>
                </div>
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-primary number" id="number0" ng-click="addNumber(0)">0</button>
                </div>
            </div>
            <div class="col-md-5 col-xs-5">
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="dot" ng-click="addNumber('.')">.</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" ng-click="onClickReset()">AC</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" ng-click="onClickClear()">C</button>
                </div>
                <div class="col-md-3 col-xs-3">
                    <button class="btn btn-default number" id="result" ng-click="onClickCalculate()">=</button>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
                <div class="col-md-12 col-xs-12">
                    <button class="btn btn-default number" id="divide" ng-click="onClickDivide()">/</button>
                </div>
            </div>

        </div>

        <script src="js/calculator.js"></script>

        <script type="text/javascript">
            $(document).keypress(function(e) {
                //Number 0
                if(e.which == 48) {
                    $( "#number0" ).trigger( "click" );
                }
                //Number 1
                if(e.which == 49) {
                    $( "#number1" ).trigger( "click" );
                }
                //Number 2
                if(e.which == 50) {
                    $( "#number2" ).trigger( "click" );
                }
                //Number 3
                if(e.which == 51) {
                    $( "#number3" ).trigger( "click" );
                }
                //Number 4
                if(e.which == 52) {
                    $( "#number4" ).trigger( "click" );
                }
                //Number 5
                if(e.which == 53) {
                    $( "#number5" ).trigger( "click" );
                }
                //Number 6
                if(e.which == 54) {
                    $( "#number6" ).trigger( "click" );
                }
                //Number 7
                if(e.which == 55) {
                    $( "#number7" ).trigger( "click" );
                }
                //Number 8
                if(e.which == 56) {
                    $( "#number8" ).trigger( "click" );
                }
                //Number 9
                if(e.which == 57) {
                    $( "#number9" ).trigger( "click" );
                }
                //Symbol .
                if(e.which == 46) {
                    $( "#dot" ).trigger( "click" );
                }
                //Symbol +
                if(e.which == 43) {
                    $( "#sum" ).trigger( "click" );
                }
                //Symbol -
                if(e.which == 45) {
                    $( "#substract" ).trigger( "click" );
                }
                //Symbol *
                if(e.which == 42) {
                    $( "#multiply" ).trigger( "click" );
                }
                //Symbol /
                if(e.which == 47) {
                    $( "#divide" ).trigger( "click" );
                }
                //Symbol =
                if(e.which == 13) {
                    $( "#result" ).trigger( "click" );
                }
                //Symbol %
                if(e.which == 37) {
                    $( "#percentage" ).trigger( "click" );
                }
            });
        </script>

    </body>

</html>
